.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.title {
  font-size: 3em;
  font-style: italic;
  margin: 0;
}

.prompt {
  padding: 2em 0;
  border-bottom: 0.25em solid #252525;
}
