.previewTitle {
  font-size: 1em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.previewTitle > a {
  text-decoration: none;
}

.preview {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
